/* app.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Poppins";
    margin: 0;

    display: flex;
    flex-direction: column;
}

.foto-rizky {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

header.navbar-container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-block: 1rem;
    z-index: 999;
}

header.navbar-container .logo img {
    width: 50px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: #24262b;
    color: white;
}

main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex: 1;
    display: block;
    align-items: center;
    margin-bottom: 30px;
}

aside .nav-sidebar .fab {
    color: white;
    font-family: "Poppins";
    text-decoration: none;
}

main .content {
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

main .content .content-description {
    flex: 1 1;
}

main .content .content-description .title {
    font-size: 3.5rem;
    margin-block: 1rem;
}

main .content .content-description p {
    line-height: 1.7rem;
    font-size: 1.1rem;
}

main .content .content-description button {
    padding: 0.8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    color: white;

    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #24262b;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

/* Card Component */
.card-component {
    display: flex;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #24262b;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: #24262b;
    color: white;
}

.more-button {
    text-decoration: none;
    color: white;
}

.more-button:hover {
    color: #24262b;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

main .content .content-description button:hover {
    border: 3px solid #24262b;
    color: #24262b;
    background-color: transparent;
}

main .content .content-image {
    flex: 1;
    display: flex;
}

main .content .content-image img {
    margin: auto;
    min-width: 200px;
    width: 200px;
}

main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
}

main aside .nav-sidebar {
    height: 100%;
    display: flex;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main aside .nav-sidebar ul {
    padding: 1.5rem 1rem;
    margin: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #24262b;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

main aside .nav-sidebar li {
    list-style-type: none;
}

.card-component {
    display: flexbox;
}

.article-cards {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .nav-sidebar a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .nav-sidebar a:hover {
    color: #24262b;
    background-color: #ffffff;
}
/*End of Main Content*/

/* Medium devices (landscape tablets, 768px and down) */
@media screen and (max-width: 768px) {
    header.navbar-container {
        flex-direction: column;
    }

    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: 0.5rem;
    }

    main .content {
        flex-direction: column;
        gap: 2rem;
    }

    main .content .content-description .title {
        font-size: 3rem;
    }

    main .content .content-description p {
        font-size: 1rem;
    }

    main .content .content-image {
        order: -1;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .card-component,
    .cards,
    .cards_item,
    .card_component,
    .article-cards {
        flex-direction: column;
        width: 100%;
    }

    .card_image,
    .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

@media screen and (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
